@{
    ViewBag.Title = "watch404";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="content-content">
        <div class="video-content">
            <div class="info-block">
                <h1 style="text-align: center;">
                    This video cannot be found.
                </h1>
            </div>
        </div>
    </div>
</div>